@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: gray;
  padding: 4px;
  margin: 4px;
}

ul{
  list-style-type: none;
}

.header{
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.left-links{
  display: flex;
}

.right-links{
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button{
  padding: 6px;
  margin-top: 6px;
}

.footer{
  display: flex;
  padding: 8px;
  margin-top: auto;
  justify-content: space-between;
  background-color: #eeeeee;

}